@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Borel&family=Grand+Hotel&family=Lobster&family=Pacifico&family=Poppins:wght@200;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


nav{
    background: #c00063;
    height: 80px;
    width: 100%;
    font-family:  'lobster';
}
.enlace{
    position: absolute;
    padding: 20px 50px;
}
.logo{
    height: 110px;
    margin-top: -30%;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 90px;
    margin: 0 5px;
}
nav ul li a{
    color: rgb(255, 255, 255);
    font-size: 25px;
    padding: 7px 13px;
    border-radius: 3px;
}
li a.active, li a:hover{
    background: #76013e;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: rgb(255, 255, 255);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
section{
    background: url(fondo.jpeg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: auto;
}

@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
     }
     ul{
        position:absolute;
        width: 100%;
        height: auto;
        background-color:  #272727;
        top: 80px;
        left: -100%;
        transition: all .5s;
     }
     nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
     }
     nav ul li a{
        font-size: 30px;
        margin-left: 5%;
     }
     li a:hover, li a.active{
        background: none;
        color:#c00063;
     }
     #check:checked ~ ul{
        left: 0;
     }
}



.services {
    background-image: linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)), 
    url(enoturismo.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0;
}
.services-content {
    text-align: center;

}

.services-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: #f9f9f9;
    margin-bottom: 50px;

}

.services-content p {
    font-size: 16px;
    color: #f9f9f9;
    margin-bottom: 50px;
    padding: 0 100px;

}

.services-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

}

.services-1 {
    padding: 0 100px;

}

.services-1 img {
    width: 25px;
    margin-bottom: 15px;

}

.services-1 h3{
    color: #c5c5c5;
    font-size: 18px;

}
.header-content {
    text-align: center;
    height: 90%;
}

.header-content h1{
    font-size:800%;
    line-height: 160px;
    color: #f9fafc;
    margin-bottom: 35px;
    font-family:'Lobster';
    font-weight: 400;
}

.header-content p {
    font-size: 180%;
    color: #c5c5c5;
    padding: 0 150px;
    margin-bottom: 25px;
    text-align: center;
    text-justify: auto;
    font-family: 'Aclonica', sans-serif;
    font-weight: 400;
}

.viñedo {
    padding: 100px 0;
    background-color: #ffffff;
    position:relative;
}

.viñedo-content {
    text-align: center;

}

.viñedo-content h2{
    font-size: 60px;
    line-height: 70px;
    color: #232323;
    margin-bottom: 5px;
    margin-top: 5%;
    font-family: 'Lobster', cursive;


}

.txt-p {
    font-size: 20px;
    color: #6a6a6a;
    line-height: 25px;
    margin-bottom: 15%;
    margin-top: -2%;
    text-align: center;
    padding: 0 250px;
}

.viñedo-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    margin-top: 0%;
    background-color: #272727;
}

.viñedo-1{
    padding: 0 25px;
    color: #f9f9f9;
}

.viñedo-1 img {
    width: 200px;
}

.viñedo-img {
    position: absolute;
    top: 0;
    right: 0;
}

.viñedo-content h3{
    font-size: 80px;
    padding: 5%;
    margin: 5%;
    font-size: 50px;
}

.viñedo-content container{
    font-size: 80px;
    padding: 5%;
    margin: 5%;
    font-size: 50px;
    background-color: #232323;
}

.viñedo-content p{
    font-size: 15px;
    line-height: 25px;
    margin-top: -5%;
    margin-bottom: 15%;
}
.redimension0 {
    width: 1500px;
    margin: 1px;
    
}

.services {
    background-image: linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)), 
    url(enoturismo.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0;
}

.services-content {
    text-align: center;
    margin-top: 50%;
    font-family: 'Lobster', cursive;

}

.services-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: #f9f9f9;
    margin-bottom: 50px;

}

.services-content p {
    font-size: 16px;
    color: #f9f9f9;
    margin-bottom: 50px;
    padding: 0 100px;

}

.services-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

}

.services-1 {
    padding: 0 100px;

}

.services-1 img {
    width: 25px;
    margin-bottom: 15px;

}

.services-1 h3{
    color: #c5c5c5;
    font-size: 18px;

}

.general {
    display: flex;

}

.general-1{
    width: 50%;
    padding: 100px 250x 100px 100px;
    background-color: #ffffff;
}

h2 {
    font-size: 55px;
    line-height: 70px;
    color: #232323;
    margin-bottom: 20px;
    font-family: 'Lobster';
    text-align: center;
    margin-top: 5%;

}

p {
    font-size: 55px;
    color: #6a6a6a;
    margin: 25px 0 45px 0;
}

.blog {
    padding: 100px 0;
    text-align: center;

}

.blog-content {
    display: flex;
    justify-content: space-between;
   
}

.blog-1 {
    padding: 15px 55px;

}

.blog-1 img {
    width: 250px;
    border-radius: 15px;
    margin-bottom: 15px;

}

.blog-1 h3{
    font-size: 25px;
    color: #232323;
}

.footer {
    padding: 100px 0;
    background-color: #c00063;

}

.footer-content{
    display: flex;
    justify-content: space-between;
    margin-top: 20%;
    margin-left: 20%;
}

.link h3 {
    font-size: 18px;
    color: #f9f9f9;
    margin-bottom: 15px;

}

.link a{
    font-size: 16px;
    color: #f9fafc;
    display: block;
    margin-top: 15px;
}

h4{
    font-size: 55px;
    line-height: 70px;
    color: #232323;
    margin-bottom: 20px;
    float: none;
    text-align: center;
    margin-top: 5%;

}

.galeria {
    font-family: 'Lobster', cursive;
}

.gale1{
    width: 760px;
    height: 700px;
}

.gale2{
    width: 760px;
    height: 700px;
    float:right;
    margin-top: -350px;
}

.gale3{
    width: 760px;
    height: 700px;
    margin-top: -350px;

}

.gale4{
    width: 760px;
    height: 700px;
    float:right;
    margin-top: -175px;
}

.img-fluid {
    width: 100%;
    height: auto;
    margin-top: -5%;
}

.img-fluid2 {
    width: 100%;
    height: auto;
    margin-top: 2%;
}



.container{
    max-width: 1200px;
    margin: 0 auto;
    
}

.contacto{

    background: linear-gradient(90deg, #c00063 0%, #c00063 30%, #a10056 30%, #890049 100%);
    margin-left: -30px;
}

.contactUs {
    position: relative;
    width: 100%;
    padding: 40px 100px;
}

.contactUs .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 120%;
}

.contactUs .title h3 {
    color: #f9fafc;
}

.form
{
    grid-area: form;
}

.info
{
    grid-area: info;
}

.map
{
    grid-area: map;
}

.contact {
    padding: 40px;
    background: #fff;
    box-shadow: 0 5px 35px rgba(0,0,0,0.15);
}

.box
{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: "form info" "form map";
    grid-gap: 20px;
    margin-top: 10px;

}

.contact h3 {
    color: #272727;
    font-size: 1em;
    font-weight: lighter;
    margin-bottom: 20px;
    font-size: 20px;
}

.formbox {
    position: relative;
    width: 100%;
}

.formbox .row50 {
    display: flex;
    gap: 20px;

}
.inputbox {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}

.formbox .row100 .inputbox {
    width: 100%;
}

.inputbox span  {
    color:#232323;
    margin-top: 10px;
    margin-bottom:  5px;
    font-weight: 500;
}

.inputbox input {
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #3a3a3a;
}
.inputbox textarea {
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #3a3a3a;
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;
    font-family: 'POPPINS';
}

.inputbox input[type="submit"]
{
    background-color: #c00063;
    color: #ffffff;
    border: none;
    font-size: 1.1em;
    max-width: 120px;
    cursor: pointer;
    padding: 14px 15px;
}

.inputbox input[type="submit"]:hover{
    background-color: #76013e;
}

.infobox p{
    font-size: 15px;
}

.info {
    background: #75c525;
}

.info h3{
    color: rgb(255, 255, 255);
    
}


.info .infobox div{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.info .infobox div span{
min-width: 40px;
height: 40px;
color: #f9fafc;
background: #355a11;
display: flex;
justify-content: center;
align-items: center;
font-size: 1.5em;
border-radius: 50%;
margin-right: 15px;
}

.info .infobox div p {
    color: #f9f9f9;
    font-size: 1.1em;
    margin-bottom: 9px;
}

.info .infobox div a {
    color: #f9f9f9;
    text-decoration: none;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
   
}



.sci{
    margin-top: 40px;
    display: flex;
}

.sci li {
    list-style: none;
    margin-right: 15px;

}


.sci li a {
    color: white;
    font-size: 2em;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}


.sci li a:hover {
    color: #e8e8e8;
    border-radius:50% ;
}

.map {
    padding: 0;
}

.map iframe{
    width: 100%;
    height: 100%;
}



@media (max-width:991px) {


    .contactus {
    padding: 20px;

}



    .box {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "form"
        "info"
        "map";
    }



    .formbox .row50 {
        display: flex;
        gap: 0;
        flex-direction: column;
    }

    .inputbox {
        width: 100%;

    }

    .contact {
        padding: 30px;
    }

    .map {
        min-height: 300px;
        padding: 0;
    }

}


@media only screen and (max-width: 1100px){
    
}
